<!-- views/partials/footer.ejs -->

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>MPP - Final Project - Barcelona Team</p>
    </div>
</footer>
<script>
    var xhr = new XMLHttpRequest()
    xhr.open("GET", "/listings", true);
    xhr.setRequestHeader("Content-type", "text/html");

    xhr.send();
</script>
