<style>
    #top_menu_bar [data-toggle='modal'] {
        display: none;
    }
    #user_account {
        display: none;
    }
    .dropdown-menu {
        width: 300px;
    }
    #user_auth {
        display: none;
    }
    #user_auth a{
        display: flex !important;
    }
    .navbar a {
        color: #fff !important;
    }
    .navbar a:focus {
        color: #fff !important;
    }
    .dropdown-menu a{
        color: #000 !important;
    }
    .dropdown-menu a:hover{
        color: #3893d9 !important;
    }

    hr {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .navbar-brand {
        font-size: 2.0rem;
    }
</style>

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color-dark">
    <% if(rootUrl){ %>
        <a class="navbar-brand font-weight-normal" href="<%=rootUrl%>"> Barcelona</a>
    <%} else {%>
        <a class="navbar-brand font-weight-normal" href="/">Barcelona</a>
    <%}%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav ml-auto nav-flex-icons" id="user_account">
            <!--<li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <span id="user_full_name"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="/account">My Listing</a>
                    <a class="dropdown-item" href="/account/search">Saved Search</a>
                    <a class="dropdown-item" href="/listing">Post New Listing</a>
                    <hr>
                    <a class="dropdown-item" href="/account/setting">Manage Account</a>
                    <hr>
                    <a class="dropdown-item" href="javascript:void(0)" id="logout_link">Logout</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons align-items-center" id="user_auth">
            <li><a class="p-2 text-dark"  id="registerLink" data-toggle="modal" data-target="#modalRegisterForm" href="javascript:void(0)">Sign Up</a></li>
            <li><a class="btn btn-info" id="loginLink" data-toggle="modal"   data-target="#modalLoginForm" href="javascript:void(0)">Login</a></li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<div id="loginContent"><% include ./login %></div>
<div id="registerContent"><% include ./register %></div>


<script>
    $(document).ready(function(){
        checkUserStatus();
        $('a#logout_link').on('click',function(e){
            logout();
            window.location.replace('/');
        })

        function checkUserStatus() {
            if(isUserLogin()){
                showUserContent();
            } else {
                showUserAuth();
            }
        }


        function showUserContent() {
            $('#user_account').css('display','flex');
            $('#user_auth').remove();
            $('#loginContent').remove();
            $('#registerContent').remove();
        }

        function showUserAuth() {
            $('#user_account').remove();
            $('#user_auth').css('display','flex');
            showLogin();
            showRegister();
        }

        function showLogin() {
            $('#loginLink').show();
            $('#loginContent').show();
        }

        function showRegister() {
            $('#registerLink').show();
            $('#registerContent').show();
        }
    })
</script>
