<style>
    #modalLoginForm {
        display: none;
    }

    #login_error {
        display: none;
    }


</style>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form name="loginForm" id="loginForm" class="loginForm-validation" novalidate>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input name="username" type="email" id="username" class="form-control" required>
                            <label for="username">Your email</label>
                            <div class="invalid-feedback">Please enter your email</div>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input name="password" type="password" id="password" class="form-control" required>
                            <label for="password">Your password</label>
                            <div class="invalid-feedback">Please enter your password</div>
                        </div>

                    </div>
                    <div class="alert alert-danger" id="login_error"></div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" id="login" class="cancel btn btn-default"> Login</button>
                        <div style="display: none" id="loading" class="spinner-border text-info" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByName('loginForm');
// Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        const userData = $('form#loginForm').serialize();
                        login(userData);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


    function login(userData) {
        $('form#loginForm #login_error').hide();

        showLoading();

        $.ajax({
            type: "POST",
            url: "/login",
            data: userData
        })
            .done(function(data){
                console.log(data);
                localStorage.setItem(USER_KEY,JSON.stringify(data));
                location.reload();
            })
            .fail(function(error,body,zing){
                showLogin();
                $('#login_error').show();
                if (error && error.responseJSON && error.responseJSON.message) {
                    $('#login_error').text(error.responseJSON.message);
                } else {
                    $('#login_error').text('Unknown error ! Please contact admin');
                }
            })
    }

    function showLogin() {
        $('form#loginForm #loading').hide();
        $('form#loginForm #login').show();
    }

    function showLoading() {
        $('form#loginForm #loading').show();
        $('form#loginForm #login').hide();
    }

    $(document).ready(function(rs) {
        $('#modalLoginForm').on('hidden.bs.modal', function (e) {
            $('#loginForm')[0].reset();
        })
    })



</script>


