<style>
    #register_error {
        display: none;
    }
</style>
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form name="registerForm" id="registerForm" class="needs-validation" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-3">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" name="register_first_name" id="register_first_name" aria-required="true" data-ok="false" class="form-control" required>
                        <label for="register_first_name">First name</label>
                        <div class="invalid-feedback">Please enter your first name</div>
                    </div>
                    <div class="md-form mb-3">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" name="register_last_name" id="last_name" class="form-control validate" required>
                        <label for="register_last_name">Last name</label>
                        <div class="invalid-feedback">Please enter your last name</div>
                    </div>
                    <div class="md-form mb-3">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" name="register_email" id="register_email" class="form-control validate" required>
                        <label for="register_email">Your email</label>
                        <div class="invalid-feedback">Please enter your email</div>
                    </div>

                    <div class="md-form mb-3">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" name="register_password" id="register_password" class="form-control validate" required>
                        <label for="register_password">Your password</label>
                        <div class="invalid-feedback">Please enter password</div>
                    </div>

                </div>
                <div class="alert alert-danger" id="register_error"></div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" id="register" class="btn btn-deep-orange waves-effect waves-light">Sign up</button>
                    <div style="display: none" id="loading" class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


<script>

    (function() {
        'use strict';
        window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByName('registerForm');
// Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        const userData = $('form#registerForm').serialize();
                        register(userData);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


    function register(userData) {
        $('form#registerForm #register_error').hide();
        showLoading();
        $.ajax({
            type: "POST",
            url: "/register",
            data: userData
        })
            .done(function(data){
                console.log(data);
                localStorage.setItem('user',JSON.stringify(data));
                location.reload();
            })
            .fail(function(error,body,zing){
                showRegister();
                $('form#registerForm #register_error').show();
                if (error && error.responseJSON && error.responseJSON.message) {
                    $('#register_error').text(error.responseJSON.message);
                } else {
                    $('#register_error').text('Unknown error ! Please contact admin');
                }

            })
    }


    function showRegister() {
        $('form#registerForm #loading').hide();
        $('form#registerForm button#register').show();
    }

    function showLoading() {
        $('form#registerForm #loading').show();
        $('form#registerForm button#register').hide();
    }

    $(document).ready(function(rs) {
        $('#modalRegisterForm').on('hidden.bs.modal', function (e) {
            $('#registerForm')[0].reset();
        })
    })


</script>
