
    <form name="manageAccount" id="manageAccount">
        <div class="container" id="accountManagement">
            <h1>Manage Account</h1>
            <div class="row">
                <div class="col-5">
                    <label for="firstName" class="above-label">First name *</label>
                    <div>
                        <input type="text" name="firstName"  id="firstName" data-test="first-name" maxlength="22" class="input_field" placeholder="First name" required>
                    </div>
                </div>
                <div class="col-5">
                    <label for="lastName" class="above-label">Last name *</label>
                    <div>
                        <input type="text" name="lastName"  id="lastName" data-test="last-name" maxlength="22" class="input_field" placeholder="Last name" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <label for="phone" class="above-label">Phone number</label>
                    <div>
                        <input type="tel" name="phone" id="phone" data-test="phone-number" class="input_field" maxlength="22" placeholder="Phone number" data-prop="Phone">
                    </div>
                </div>
                <div class="col-5">

                </div>
            </div>

            <div class="row" style="margin-top: 50px">
                <div class="col-5">
                    <label for="email" class="above-label">Email Address *</label>
                    <div>
                        <input type="text" name="email" id="email"  maxlength="40" class="input_field" placeholder="Email Address" data-prop="Email" required>
                    </div>
                </div>
                <div class="col-5">
                    <label for="confirmEmail" class="above-label">Verify Email Address *</label>
                    <div>
                        <input type="text" name="confirmEmail" id="confirmEmail"  maxlength="40" class="input_field" placeholder="Verify Email Address" data-prop="ConfirmEmail" required>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-5">
                    <label for="userPass" class="above-label">New password *</label>
                    <div>
                        <input type="password" name="password" id="password" maxlength="22" class="input_field" placeholder="New password" data-prop="Password">
                    </div>
                </div>
                <div class="col-5">
                    <label for="confirmPass" class="above-label">Verify new password *</label>
                    <div>
                        <input type="password" name="confirmPassword" id="confirmPass" class="input_field" placeholder="Verify new password" data-prop="ConfirmPassword">
                    </div>

                </div>
            </div>
            <div class="alert alert-danger" style="display: none" id="update_profile_error"></div>
            <button class="btn btn-primary" id="updateProfile" >Update</button>

        </div>
    </form>

<script>


    (function() {
        'use strict';
        window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByName('manageAccount');
// Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        const userData = $('form#manageAccount').serialize();
                        updateProfile(userData);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    updateUserInformation();

    function updateUserInformation() {
        const data = localStorage.getItem(USER_KEY);
        const user = JSON.parse(data);
        if (user.accessToken) {
            var elem = document.querySelector('#modalLoginForm');
            elem.parentNode.removeChild(elem);
        }
        document.getElementById('firstName').value = user.firstName;
        document.getElementById('lastName').value = user.lastName;
        document.getElementById('phone').value = user.phone;
        document.getElementById('phone').value = user.phone;
        document.getElementById('email').value = user.email;
        document.getElementById('confirmEmail').value = user.email;

    }

    $(document).ready(function(){
        $('#updateProfile').on('click',function(){
            var data = $('form#manageAccount').serialize();
            console.log(data);
        })
    })


    function updateProfile(userData) {
        $('#update_profile_error').hide();
        const firstName = $('#firstName').val();
        const lastName = $('#lastName').val();
        const phone = $('#phone').val();
        const email = $("#email").val();
        const confirmEmail = $('#confirmEmail').val();
        const password = $('#password').val();
        const confirmPassword = $('#confirmPass').val();
        let ul ='';
        if (email !== confirmEmail){
            ul += '<li>Email is not same</li>';
        }

        if (password !== confirmPassword) {
            ul += '<li>Password is not same</li>';
        }
        if (ul) {
            $('#update_profile_error').html(ul);
            $('#update_profile_error').show();
        }

        $.ajax({
            type: "POST",
            url: "/profile/update",
            data: userData
        })
            .done(function(data){
                console.log(data);
                localStorage.setItem('user',JSON.stringify(data));
                location.reload();
            })
            .fail(function(error,body,zing){
                showLogin();
                $('#login_error').show();
                if (error && error.responseJSON && error.responseJSON.message) {
                    $('#login_error').text(error.responseJSON.message);
                } else {
                    $('#login_error').text('Unknown error ! Please contact admin');
                }
            })

    }



</script>

