
<style>


    .dropdown-menu a {
        font-weight: 400;
        color: #fff;
        font-size: .875rem;
        line-height: 20px;
        text-decoration: none;
        display: block;
        background: #3893d9;
        padding: 5px;
    }
    .account-menu hr {
        border-color: #d4d4d4;
        border-style: solid;
        border-width: 1px 0 0;
        clear: both;
        box-sizing: content-box;
        height: 0;
        padding: 0;
        margin: unset !important;
    }
    .dropdown-divider {
        background: #3893d9;
    }
    .account-menu .username {
        background: #3893d9;
    }
</style>
<div class="account-menu">
    <a class="btn btn-primary dropdown-toggle mr-4 username" type="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Linh Lam</a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">My Listings</a>
        <a class="dropdown-item" href="#">Saved Search</a>
        <a class="dropdown-item" href="#">Post New Listing</a>
        <hr/>
        <a class="dropdown-item" href="#">Manage Account</a>
        <hr/>
        <a class="dropdown-item" href="#">Logout</a>
    </div>
</div>
