
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ListingsContainer__listingsContainer__PsSoA {
    position: relative;
    width: 55%;
    left: 0;
    top: 111px;
    bottom: 0;
    min-height: calc(100vh - 110px);
    border-right: 1px solid #e7e8e9;
    background-color: #fcfcfc;
    z-index: 1;
}
.MapSearch__container__1s08- {
    position: fixed;
    width: 45%;
    right: 0;
    top: 110px;
    bottom: 0;
    background-color: rgb(229, 227, 223);
}

.listing-list-item__carousel__2y9NU {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
    padding-right: 21px;
}

.listing-list-item__container__1bT_x {
  border-bottom: 1px solid #e7e8e9;
  padding: 21px;
  overflow: hidden;
  background-color: white;
  position: relative;
}
.listing-list-item__details__22EsT {
    display: inline-block;
    width: calc(100% - 181px);
    vertical-align: top;
    color: #777a7f;
    font-weight: 500;
}


*:focus {
    outline: 0 !important;
}

button {
    outline-style: none;
}

button:focus {
    outline: 0 !important;
}

button:focus { outline:0 !important; }

h3.rent {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.rent .rent-label{
    color: #ff609c;
}

.rent-price {
    font-size: 32px;
    font-weight: 600;
    color: #3e4246;
    margin: 5px 0 20px;

}

.listing-list-item-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #777a7f;
}

.listing-list-item-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-bottom: 4px;
    margin-left: 1px;
}

.listing-detail-heading {
    font-size: 32px;
    font-weight: 600;
    color: #3e4246;
    margin: 5px 0 20px;
}

.listing-detail-paragraph {
    font-size: 14px;
    font-weight: 500;
    color: #777a7f;
    margin: 10px 0;
    white-space: pre-line;
    word-wrap: break-word;
    font-family: inherit;
    line-height: 1.618;
}

.listing-detail-image {
    height: 450px;
    width:100%;
    object-fit: cover;
}

.enquiry-form {

    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 25px;
    background: #fff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.enquiry-section {
    font-size: 16px;
    font-weight: 600;
    color: #3e4246;
    margin: 2px 0;
}

.show-phone {
    text-transform: capitalize;
    border: 1px solid #3893d9;
    padding: 2px 6px;
    margin-left: 5px;
    border-radius: 2px;
    color: #3893d9;
    font-size: 14px;
    font-weight: 600;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.tel {
    color: #3893d9;
    font-size: 14px;
    font-weight: 600;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}



.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 60px !important;
    height: 60px !important;
}


.SearchInputBox__autoCompleteInput {
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .35);
  padding: 13px;
  width: 100%;
  font-weight: 500;
  outline: none;
  -webkit-appearance: none;
  color: #3e4246;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin-right: 10px;
}

.BasicSearch__container {
  min-width: 450px;
  max-width: 890px;
  width: 100%;
  z-index: 1;
}

.BasicSearch__searchFieldsButton {
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 130px;
  min-width: 130px;
  height: 50px;
  cursor: pointer;
  background: #3893d9;
  outline: none;
  border: 0;
  padding: 15px;
  color: #fff;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 4px;
}

h2.heading_address {
  padding: 10px 0;
  margin-bottom: 30px;
}

.radio-container {
  clear: both;
  height: 44px;
}


.radio-container div {
  margin: 0;
  display: inline-block;
  float: left;
}

.radio-container div input[type=radio] {
  display: none;
}


input[type="radio" i] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: radio;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}

.listing-detail label {
  margin: 30px 0 20px;
  display: block;
}

.radio-container div input[type=radio]+label {
  color: #555;
  font-family: Arial,sans-serif;
  font-size: .875rem;
  background: #fff;
  border: 1px #cdcdcd solid;
  border-left: none;
  padding: 14px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.radio-container div:first-child input[type=radio]+label {
  border-radius: 2px 0 0 2px;
  border-left: 1px #cdcdcd solid;

}

.radio-container div input[type=radio]:checked+label {
  background: #e0eef7;
  color: #555;
}

.radio-container div {
  margin: 0;
  display: inline-block;
  float: left;
}


.radio-container.button-10 div {
  width: calc(100% / 10);
}

.radio-container.button-9 div {
  width: calc(100% / 9);
}

.radio-container.button-2 div {
  width: calc(100% / 2);
}


.radio-container.button-3 div {
  width: calc(100% / 3);
}

.error-msg {
  display: none;
}

.currency_input {
  position: relative;
  max-width: 350px;
}

.currency_input div {
  float: right;
  width: 45px;
  background: #f5f5f5;
  position: absolute;
  right: 2px;
  top: 2px;
  height: 42px;
  text-align: center;
  padding: 10px 0 0;
  border-left: 1px #dcdcdc solid;
  font-size: 18px;
}

.input_field {
  font-weight: 400;
  color: #333;
  font-size: 1rem;
  line-height: 20px;
  height: 45px;
  line-height: 45px;
  width: 100%;
  border-radius: 3px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0 15px;
  color: #323232;
  border: 1px #dcdcdc solid;
  background-color: #fff;
}

.listing-detail input,select {
  max-width: 350px;
}

.listing-detail .textarea-wrapper .details {
  border: 1px #dcdcdc solid;
  font-weight: 400;
  color: #333;
  font-size: 1rem;
  line-height: 20px;
  padding: 20px;
  width: calc(100%);
}


.dropzone, .dropzone * {
  box-sizing: border-box;
}


.dropzone {
  min-height: 150px;
  background: white;
  padding: 54px 54px;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.dropzone.dz-clickable {
  cursor: pointer;
}


.img_not_found {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…wwLDcuMiwxLjcsOS40LDMuOWw3LjEsNy4xaC00OS41TDE1Ny40LDc4Ljl6Ii8+Cjwvc3ZnPgo=);
}

.img-thumbnail {
  height: 300px;
  object-fit: cover;
}
