<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        h2 {
            font-weight: 400;
            color: #333;
            font-size: 1.25rem;
            line-height: 28px;
            margin-top: 50px;
        }

        .account-box {
            border: 1px #d4d4d4 solid;
            padding: 20px 20px 15px;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 30px;
            border-radius: 2px;
        }

        .account-box .img {
            width: 150px;
            height: 110px;
            margin: 0 auto 10px;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…wwLDcuMiwxLjcsOS40LDMuOWw3LjEsNy4xaC00OS41TDE1Ny40LDc4Ljl6Ii8+Cjwvc3ZnPgo=);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .account-box .img {
            float: left;
            width: 30%;
            margin: 0 auto;
            margin-right: 20px;
        }

        .account-box h3 {
            font-weight: 400;
            color: #333;
            font-size: 1.25rem;
            line-height: 28px;
            line-height: 22px;
            margin-bottom: 12px;
        }

        .account-box p {
            font-weight: 400;
            color: #525252;
            font-size: .875rem;
            line-height: 20px;
            margin: 5px 0;
        }

        .account-box {
            text-align: left;
            padding: 20px;
        }

        .inactive-ads .account-box {
            border-color: rgba(212,212,212,.5);
        }

            .grid-wrapper.grid-12 {
                grid-template-columns: repeat(12,1fr);
            }            .span-7 {
                grid-column: span 7;
            }

            .grid-box, .grid-wrapper {
                width: 100%;
            }

        .inactive-ads .account-box .account-box-details {
            opacity: .5;
        }

        .span-7 {
            grid-column: span 7;
        }
        .span-5 {
            grid-column: span 5;
        }

            .grid-wrapper.grid-12 {
                grid-template-columns: repeat(12,1fr);
            }

                .account-box-buttons.grid-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                }

        .btn-grey.small, .btn-white.small {
            font-weight: 400;
            color: #333;
            font-size: .875rem;
            line-height: 20px;
            font-weight: 400;
            padding: 10px 20px 12px;
            line-height: 10px;
        }

        .account-box-buttons.grid-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }


        .btn-grey, .btn-white {
            background: #fff;
            border-color: #d4d4d4;
            font-weight: 400;
            color: #333;
            font-size: .8125rem;
            line-height: 18px;
            text-transform: none;
        }
        .btn-grey {
            background: #f4f4f4 !important;
            border-color: #d4d4d4;
        }
        .btn-grey.small, .btn-white.small {
            line-height: 20px;
        }
        .btn-grey.small {
            font-weight: 400;
        }
        .account-box .desktop-margin {
            margin-top: 0;
            margin-left: 5px;
        }
        [class^=btn].small {
            height: 40px;
            padding: 11px 20px;
        }
        [class^=btn].full {
            width: 100%;
        }

        .listing-lists-panel button:hover {
            color: #00B7FF !important;
        }
        .listing-lists-panel button:focus {
            color: #00B7FF !important;
        }

        .listing-lists-panel button:visited {
            color: blue !important;
        }

        .listing-lists-panel button:active {
            color: blue !important;
        }

    </style>
    <script type="text/javascript" src="/javascripts/bootbox.all.min.js" ></script>
</head>
<body>


<% include ../partials/header %>


<main role="main">
    <div class="container" id="my_listings_container">
        <!--<h1>My Listings</h1>
        <div class="listing-lists-panel">
            <h2 id="activeHeading" style="display: block;">Active Listings</h2>
            <div id="activeListingContainer" class="row">
                <div class="grid-wrapper row account-box show-msg" data-test="ma-list-room" data-id="H160114135045719">
                    <div class="col-7">
                        <a href="/Account/Home/ViewListing?ListingCode=H160114135045719">
                            <div class="img" style="background-image:url('http://nanogallery2.nanostudio.org/samples/berlin1.jpg')"></div>
                            <h3>Common room - 3 mins walk to Toa Payoh MRT</h3>
                            <p>
                                <span>1 Lorong 1 Toa Payoh</span> - <span class="bold700">$750</span>
                            </p>
                            <p>Last updated 12 September 2019</p>
                        </a>
                    </div>
                    <div class="col-5 grid-box account-box-buttons">
                        <button class="btn-grey small full">DeActivate</button>
                        <button class="btn-grey small full desktop-margin" data-toggle="modal" data-target="#modalReportForm" href="javascript:void(0)">Statistics</button>
                    </div>
                </div>
            </div>

            <h2 id="inactiveHeading">Inactive Listings</h2>
            <div id="inactiveListingContainer" class="inactive-ads">
                <div class="grid-wrapper row account-box show-msg" data-test="ma-list-room" data-id="H160114135045719">
                    <div class="col-7 account-box-details">
                        <a href="/Account/Home/ViewListing?ListingCode=H160114135045719">
                            <div class="img" style="background-image:url('http://nanogallery2.nanostudio.org/samples/berlin1.jpg')"></div>
                            <h3>Common room - 3 mins walk to Toa Payoh MRT</h3>
                            <p>
                                <span>1 Lorong 1 Toa Payoh</span> - <span class="bold700">$750</span>
                            </p>
                            <p>Last updated 12 September 2019</p>
                        </a>
                    </div>
                    <div class="col-5 grid-box account-box-buttons">
                            <button class="btn-grey small full">Activate</button>
                            <button  class="btn-grey small full desktop-margin">Delete</button>
                    </div>
                </div>
                <div class="grid-wrapper row account-box show-msg" data-test="ma-list-room" data-id="H160114135045719">
                    <div class="col-7 account-box-details">
                        <a href="/Account/Home/ViewListing?ListingCode=H160114135045719">
                            <div class="img" style="background-image:url('http://nanogallery2.nanostudio.org/samples/berlin1.jpg')"></div>
                            <h3>Common room - 3 mins walk to Toa Payoh MRT</h3>
                            <p>
                                <span>1 Lorong 1 Toa Payoh</span> - <span class="bold700">$750</span>
                            </p>
                            <p>Last updated 12 September 2019</p>
                        </a>
                    </div>
                    <div class="col-5 grid-box account-box-buttons">
                        <button data-activate-listing="H160217135715212" class="btn-grey small full">Activate</button>
                        <button data-delete-listing="H190911232630726" class="btn-grey small full desktop-margin">Delete</button>
                    </div>
                </div>
                <div class="grid-wrapper row account-box show-msg" data-test="ma-list-room" data-id="H160114135045719">
                    <div class="col-7 account-box-details">
                        <a href="/Account/Home/ViewListing?ListingCode=H160114135045719">
                            <div class="img" style="background-image:url('http://nanogallery2.nanostudio.org/samples/berlin1.jpg')"></div>
                            <h3>Common room - 3 mins walk to Toa Payoh MRT</h3>
                            <p>
                                <span>1 Lorong 1 Toa Payoh</span> - <span class="bold700">$750</span>
                            </p>
                            <p>Last updated 12 September 2019</p>
                        </a>
                    </div>
                    <div class="col-5 grid-box account-box-buttons">
                        <button data-activate-listing="H160217135715212" class="btn-grey small full">Activate</button>
                        <button data-delete-listing="H190911232630726" class="btn-grey small full desktop-margin">Delete</button>
                    </div>
                </div>
             <div>
        </div>
    </div>
        </div>-->
    </div>
</main>


<footer>
    <% include ../partials/footer %>
</footer>

<script>
    $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/listings/mylistings",
                headers:{'Authorization':getAccessToken()}
            })
                .done(function(data){
                    $('#my_listings_container').html(data);
                })
                .fail(function(error,body,zing){
                    console.log('FAILED');

                })
    })
</script>
</body>
</html>
