<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        /* Style the form */
        #regForm {
            background-color: #ffffff;
            margin: 100px auto;
            padding: 40px;
            width: 70%;
            min-width: 300px;
        }

        /* Style the input fields */
        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

        /* Hide all steps by default: */
        .tab {
            display: none;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #4CAF50;
        }
    </style>

</head>
<body>

<% include ../partials/header %>
<form id="regForm" action="">

    <h1>Register:</h1>

    <!-- One "tab" for each step in the form: -->
    <div class="tab">Name:
        <p><input placeholder="First name..." oninput="this.className = ''"></p>
        <p><input placeholder="Last name..." oninput="this.className = ''"></p>
    </div>

    <div class="tab">Contact Info:
        <p><input placeholder="E-mail..." oninput="this.className = ''"></p>
        <p><input placeholder="Phone..." oninput="this.className = ''"></p>
    </div>

    <div class="tab">Birthday:
        <p><input placeholder="dd" oninput="this.className = ''"></p>
        <p><input placeholder="mm" oninput="this.className = ''"></p>
        <p><input placeholder="yyyy" oninput="this.className = ''"></p>
    </div>

    <div class="tab">Login Info:
        <p><input placeholder="Username..." oninput="this.className = ''"></p>
        <p><input placeholder="Password..." oninput="this.className = ''"></p>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>

</form>

<form name="listing" id="listing" style="display: none">
    <div class="container listing-detail">
        <div class="row">
            <div class="col-12">
                <h2>Post your listing</h2>
                <div>It's FREE to advertise your house on the web !</div>
                <h2 style="border-bottom: 1px #cdcdcd solid;">&nbsp;&nbsp;</h2>
            </div>

        </div>
        <div class="row" id="step1">
            <!-- <div class="col-12">
                 <h2 class="heading">Location</h2>
                  <div class="row">
                      <div class="col-md-2">

                      </div>
                      <div class="col-md-8">

                      </div>
                      <div class="col-md-2" id="map_data">
                          <input class="field" id="street_number" disabled="true"/>
                          <input class="field" id="route" disabled="true"/>
                          <input class="field" id="locality" disabled="true"/>
                          <input class="field" id="administrative_area_level_1" disabled="true"/>
                          <input class="field" id="postal_code" disabled="true"/>
                          <input class="field" id="country" disabled="true"/>

                      </div>



                  </div>
             </div>-->
        </div>
        <div class="row" id="step2">

            <div class="col-12">
                <div class="BasicSearch__container">
                    <label>Location</label>
                    <div class="BasicSearch__searchBar">
                        <input id="autocomplete" onFocus="geolocate()" type="search" value="" style="width: 70%" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" name="name" placeholder="e.g. 105 W Grimes Ave" class="SearchInputBox__autoCompleteInput gtm_homeSearchField BasicSearch__searchBox__1U0Ab ignore-react-onclickoutside" autocorrect="off">
                    </div>
                </div>

                <div id="rent" class="validation-box is-mandatory">
                    <label>Rent per month ($)</label>
                    <div class="currency_input">
                        <div>$</div>
                        <input type="number" min="1" maxlength="4" name="MaxRent" pattern="\d*" placeholder="0" data-prop="rent" class="input_field" autocomplete="off" value="">
                    </div>
                    <p class="error-msg">Please enter a rent amount in numeric values only without special characters.</p>
                </div>

                <div class="form_field custom-checkbox">
                    <input type="checkbox" id="utilsNotIncluded" data-prop="utilitiesNotIncluded">
                    <label style="display: unset">Add utility costs to be paid on top of rent</label>
                </div>

                <div id="squareMeters" class="validation-box">
                    <label>Room square foot</label>
                    <input type="number" name="squareMeters" data-prop="squareMeters" pattern="\d*" class="input_field" autocomplete="off">
                    <p class="error-msg">Please enter a numeric value only without special characters</p>
                </div>

                <div id="dwellingCode" class="validation-box is-mandatory">
                    <label>Property type</label>

                    <div class="radio-container button-3">
                        <div>
                            <input type="radio" id="propertyType1" name="radio2" checked data-prop="dwellingCode" data-value="sgp2">
                            <label for="propertyType1">Apartment</label>
                        </div>

                        <div>
                            <input type="radio" id="propertyType2" name="radio2" data-prop="dwellingCode" data-value="sgp3">
                            <label for="propertyType2">House</label>
                        </div>

                        <div>
                            <input type="radio" id="propertyType3" name="radio2" data-prop="dwellingCode" data-value="sgp1">
                            <label for="propertyType3">Studio</label>
                        </div>
                    </div>
                    <p class="error-msg">Please specify what type of property it is.</p>
                </div>
                <div id="numBedrooms" class="validation-box">
                    <label>Total number of bedrooms</label>
                    <div class="radio-container button-9 mobile-hide" data-field="numBedrooms">
                        <div>
                            <input type="radio" id="numBedrooms1" name="numBedrooms" data-prop="totalBedrooms" data-value="1" checked="checked">
                            <label for="numBedrooms1">1</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms2" name="numBedrooms" data-prop="totalBedrooms" data-value="2">
                            <label for="numBedrooms2">2</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms3" name="numBedrooms" data-prop="totalBedrooms" data-value="3">
                            <label for="numBedrooms3">3</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms4" name="numBedrooms" data-prop="totalBedrooms" data-value="4">
                            <label for="numBedrooms4">4</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms5" name="numBedrooms" data-prop="totalBedrooms" data-value="5">
                            <label for="numBedrooms5">5</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms6" name="numBedrooms" data-prop="totalBedrooms" data-value="6">
                            <label for="numBedrooms6">6</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms7" name="numBedrooms" data-prop="totalBedrooms" data-value="7">
                            <label for="numBedrooms7">7</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms8" name="numBedrooms" data-prop="totalBedrooms" data-value="8">
                            <label for="numBedrooms8">8</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms9" name="numBedrooms" data-prop="totalBedrooms" data-value="9">
                            <label for="numBedrooms9">9+</label>
                        </div>
                    </div>
                    <div>
                        <label>Total number of bathrooms</label>
                        <div class="radio-container button-9 mobile-hide" data-field="numBathRooms">
                            <div>
                                <input type="radio" id="numBathRooms1" name="numBathRooms" data-prop="totalBathrooms" data-value="1" checked="checked">
                                <label for="numBathRooms1">1</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms2" name="numBathRooms" data-prop="totalBathrooms" data-value="2">
                                <label for="numBathRooms2">2</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms3" name="numBathRooms" data-prop="totalBathrooms" data-value="3">
                                <label for="numBathRooms3">3</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms4" name="numBathRooms" data-prop="totalBathrooms" data-value="4">
                                <label for="numBathRooms4">4</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms5" name="numBathRooms" data-prop="totalBathrooms" data-value="5">
                                <label for="numBathRooms5">5</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms6" name="numBathRooms" data-prop="totalBathrooms" data-value="6">
                                <label for="numBathRooms6">6</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms7" name="numBathRooms" data-prop="totalBathrooms" data-value="7">
                                <label for="numBathRooms7">7</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms8" name="numBathRooms" data-prop="totalBathrooms" data-value="8">
                                <label for="numBathRooms8">8</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms9" name="numBathRooms" data-prop="totalBathrooms" data-value="9">
                                <label for="numBathRooms9">9+</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="amenityFurnished" class="validation-box is-mandatory">
                    <label>Furnished or Unfurnished</label>
                    <div class="radio-container button-2">
                        <div>
                            <input type="radio" id="furnishedRoom1" checked name="furnishedRoom" data-prop="amenityFurnished" data-value="true">
                            <label for="furnishedRoom1">Furnished</label>
                        </div>

                        <div>
                            <input type="radio" id="furnishedRoom2" name="furnishedRoom" data-prop="amenityFurnished" data-value="false">
                            <label for="furnishedRoom2">Unfurnished</label>
                        </div>
                    </div>
                    <p class="error-msg">Please select if the room is furnished or unfurnished</p>
                </div>

                <div id="minimumStay" class="validation-box">
                    <label>Minimum stay in months</label>
                    <select name="minimumStay" class="custom-select half-width" data-prop="minimumStay">
                        <option value="-100">No minimum stay required</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>

                    </select>
                </div>



                <div id="availableFrom" class="validation-box">
                    <label>Available from</label>
                    <div class="desktop-hide">
                        <input type="date" class="input_field" data-prop="availableFrom" data-init-value="" min="2019-09-11">
                    </div>
                </div>


                <div id="description" class="validation-box is-mandatory">
                    <label>Description</label>
                    <div class="textarea-wrapper">
                        <textarea data-prop="description" class="details" name="textarea" rows="5" placeholder="Please enter a description to get the best possible response to your listing. Tell other users what you love about the property; what's great about the room, the location and any current neighbours."></textarea>
                    </div>
                    <p class="error-msg">Please enter a description to get the best possible response to your listing. Tell other users what you love about the property; what's great about the room, the location and neighbours.</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 modal-footer d-flex justify-content-center">
                <button id="post_listing" class="btn btn-default">Post Your Listing</button>
                <div style="display: none" id="loading" class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="latitude" name="latitude" />
    <input type="hidden" id="longitude" name="longitude" />
</form>

<footer>
    <% include ../partials/footer %>
</footer>

<script>

    $(document).ready(function(){

        //$("div#photoUpload").dropzone({ url: "/file/post" });

        // "myAwesomeDropzone" is the camelized version of the HTML element's ID
        Dropzone.options.myAwesomeDropzone = {
            dictDefaultMessage:"This is my file",
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            accept: function(file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                }
                else { done(); }
            }
        };
    })
</script>
<script>

    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), {types: ['geocode']});

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component','geometry','name','vicinity',]);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        var lat = place.geometry.location.lat(),
            lng = place.geometry.location.lng();


        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;

        console.log(lat);
        console.log(lng);

        console.log(place);

    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }


    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        // ... and run a function that displays the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false:
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class to the current step:
        x[n].className += " active";
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7rGj1Izj6TiCYWSkyNMtSuq9sFrLJiyk&libraries=places&callback=initAutocomplete" async defer></script>

</body>
</html>
