<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        .bs-stepper-content {
            margin-top: 40px;
            padding: unset;
        }

        .bs-stepper-content button {
            margin-top: 40px;
        }

        .form-group div {
            margin-bottom: 40px;
        }

        .form-group input[type=text], input[type=number], input[type=date] {
            max-width: 350px;
        }
    </style>
</head>
<body>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <form onsubmit="return false;" id="newListingForm" name="newListingForm">
                <input type="hidden" name="latitude" id="latitude">
                <input type="hidden" name="longitude" id="longitude">
                <div id="stepper" class="bs-stepper">
                    <div class="bs-stepper-header">
                        <div class="step" data-target="#test-l-1">
                            <button type="button" class="btn step-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Location</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#test-l-2">
                            <button type="button" class="btn step-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Listing Details</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#test-l-3">
                            <button type="button" class="btn step-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Rental</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <div id="test-l-1" class="content">
                            <div class="BasicSearch__container">
                                <div class="BasicSearch__searchBar">
                                    <input id="autocomplete"
                                           onFocus="geolocate()"
                                           oninvalid="this.setCustomValidity('Please Select Valid Address')"
                                           oninput="setCustomValidity('')"
                                           type="search"
                                           name="address"
                                           required
                                           placeholder="e.g. 105 W Grimes Ave"
                                           class="SearchInputBox__autoCompleteInput gtm_homeSearchField"
                                           autocorrect="off">
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <div id="test-l-2" class="content">
                            <div class="form-group">
                                <div class="validation-box">
                                    <label>Property Title</label>
                                    <div>
                                        <input value="New house.." required type="text" name="title"
                                               class="input_field" autocomplete="off">
                                    </div>
                                </div>
                                <div class="validation-box is-mandatory">
                                    <label>Property type</label>
                                    <div class="radio-container button-3">
                                        <div>
                                            <input type="radio" id="propertyType1" value="1" name="listType" checked>
                                            <label for="propertyType1">Apartment</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="propertyType2" value="2" name="listType">
                                            <label for="propertyType2">House</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="propertyType3" value="3" name="listType">
                                            <label for="propertyType3">Studio</label>
                                        </div>
                                    </div>
                                    <p class="error-msg">Please specify what type of property it is.</p>
                                </div>
                                <div class="validation-box">
                                    <label>Total number of bedrooms</label>
                                    <div class="radio-container button-9 mobile-hide" data-field="numBed">
                                        <div>
                                            <input type="radio" id="numBedrooms1" name="numBed"
                                                   data-prop="totalBedrooms" value="1" checked="checked">
                                            <label for="numBedrooms1">1</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms2" name="numBed"
                                                   data-prop="totalBedrooms" value="2">
                                            <label for="numBedrooms2">2</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms3" name="numBed"
                                                   data-prop="totalBedrooms" value="3">
                                            <label for="numBedrooms3">3</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms4" name="numBed"
                                                   data-prop="totalBedrooms" value="4">
                                            <label for="numBedrooms4">4</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms5" name="numBed"
                                                   data-prop="totalBedrooms" value="5">
                                            <label for="numBedrooms5">5</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms6" name="numBed"
                                                   data-prop="totalBedrooms" value="6">
                                            <label for="numBedrooms6">6</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms7" name="numBed"
                                                   data-prop="totalBedrooms" value="7">
                                            <label for="numBedrooms7">7</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms8" name="numBed"
                                                   data-prop="totalBedrooms" value="8">
                                            <label for="numBedrooms8">8</label>
                                        </div>

                                        <div>
                                            <input type="radio" id="numBedrooms9" name="numBed"
                                                   data-prop="totalBedrooms" value="9">
                                            <label for="numBedrooms9">9+</label>
                                        </div>
                                    </div>
                                    <div>
                                        <label>Total number of bathrooms</label>
                                        <div class="radio-container button-9 mobile-hide" data-field="numBath">
                                            <div>
                                                <input type="radio" id="numBathRooms1" name="numBath"
                                                       data-prop="totalBathrooms" value="1" checked="checked">
                                                <label for="numBathRooms1">1</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms2" name="numBath"
                                                       data-prop="totalBathrooms" value="2">
                                                <label for="numBathRooms2">2</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms3" name="numBath"
                                                       data-prop="totalBathrooms" value="3">
                                                <label for="numBathRooms3">3</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms4" name="numBath"
                                                       data-prop="totalBathrooms" value="4">
                                                <label for="numBathRooms4">4</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms5" name="numBath"
                                                       data-prop="totalBathrooms" value="5">
                                                <label for="numBathRooms5">5</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms6" name="numBath"
                                                       data-prop="totalBathrooms" value="6">
                                                <label for="numBathRooms6">6</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms7" name="numBath"
                                                       data-prop="totalBathrooms" value="7">
                                                <label for="numBathRooms7">7</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms8" name="numBath"
                                                       data-prop="totalBathrooms" value="8">
                                                <label for="numBathRooms8">8</label>
                                            </div>

                                            <div>
                                                <input type="radio" id="numBathRooms9" name="numBath"
                                                       data-prop="totalBathrooms" value="9">
                                                <label for="numBathRooms9">9+</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="validation-box is-mandatory">
                                    <label>Furnished or Unfurnished</label>
                                    <div class="radio-container button-2">
                                        <div>
                                            <input required type="radio" id="furnishedRoom1" checked value="true"
                                                   name="furnished">
                                            <label for="furnishedRoom1">Furnished</label>
                                        </div>
                                        <div>
                                            <input required type="radio" id="furnishedRoom2" value="false"
                                                   name="furnished">
                                            <label for="furnishedRoom2">Unfurnished</label>
                                        </div>
                                    </div>
                                    <p class="error-msg">Please select if the room is furnished or unfurnished</p>
                                </div>
                                <div class="validation-box">
                                    <label>Minimum stay in months</label>
                                    <div>
                                        <select name="minimumLease" required class="custom-select half-width">
                                            <option value="0">No minimum stay required</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="validation-box">
                                    <label>Room square foot</label>
                                    <div>
                                        <input value="100" required type="number" name="area" pattern="\d*"
                                               class="input_field" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                        </div>
                        <div id="test-l-3" class="content">
                            <div class="form-group">
                                <div id="rent" class="validation-box is-mandatory">
                                    <label>Rent per month ($)</label>
                                    <div class="currency_input">
                                        <div>$</div>
                                        <input required value="1000" type="number" min="1" maxlength="4" name="price"
                                               pattern="\d*" placeholder="0" data-prop="rent" class="input_field"
                                               autocomplete="off" value="">
                                        <input type="checkbox" id="utilsNotIncluded">
                                        <label style="display: unset">&nbsp;&nbsp;Add utility costs to be paid on top of
                                            rent</label>
                                    </div>
                                </div>
                                <div id="availableFrom" class="validation-box">
                                    <label>Available from</label>
                                    <div class="desktop-hide">
                                        <input type="date" name="availableFrom" class="input_field" min="2019-09-11">
                                    </div>
                                </div>

                                <div id="description" class="validation-box is-mandatory">
                                    <label>Description</label>
                                    <div class="textarea-wrapper">
                                <textarea required class="details"  name="description" style="width: 100%" rows="5"
                                          placeholder="Please enter a description to get the best possible response to your listing. Tell other users what you love about the property; what's great about the room, the location and any current neighbours."> </textarea>
                                    </div>
                                </div>
                            </div>


                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button class="btn btn-primary" id="submitListing">Post New Listing</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>


<script>
    var forms = document.getElementsByName('newListingForm');
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByName('newListingForm');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        const userData = $('form#newListingForm').serialize();
                        // register(userData);
                    }
                    //  form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    var stepper1Node = document.querySelector('#stepper')
    var stepper = new Stepper(document.querySelector('#stepper'))
    stepper1Node.addEventListener('show.bs-stepper', function (event) {
        if (!forms[0].checkValidity()) {
            event.preventDefault()
        }
    })
    stepper1Node.addEventListener('shown.bs-stepper', function (event) {
        if (!forms[0].checkValidity()) {
            event.preventDefault()
        }
    })

    $(document).ready(function () {
        $('#submitListing').on('click', function () {
            const listingData = $('form#newListingForm').serialize();
            console.log(listingData);
            $.ajax({
                type: "POST",
                url: "/listing",
                headers: {
                    "Authorization": getAccessToken()
                },
                data: listingData
            }).done(function (data) {
                console.log(data);
                window.location.href = '/photos/'+ data.id;
            }).fail(function (error, body) {
                console.log('failed when create listing');
            })
        });
    })
</script>

<script>
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), {types: ['geocode']});

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component', 'geometry', 'name', 'vicinity',]);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        var lat = place.geometry.location.lat(),
            lng = place.geometry.location.lng();
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;
        console.log(lat);
        console.log(lng);
        console.log(place);
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7rGj1Izj6TiCYWSkyNMtSuq9sFrLJiyk&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>
