<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- jQuery -->

    <script  type="text/javascript" src="/javascripts/highcharts.js"></script>
    <script  type="text/javascript" src="/javascripts/dropzone.js"></script>
    <link rel="stylesheet" href="/stylesheets/dropzone.css" rel="stylesheet" >
    <style>


        #step2,#step3 {
            display: nonea;
        }

        #map_data {
            display: none;
        }
        #confirm_address {
            display: nones;
        }
    </style>

</head>
<body>

<% include ../partials/header %>

<form name="new_listing" id="new_listing">
<div class="container listing-detail">
    <div class="row">
        <div class="col-12">
            <h2>Post your listing</h2>
            <div>It's FREE to advertise your house on the web !</div>
            <h2 style="border-bottom: 1px #cdcdcd solid;">&nbsp;&nbsp;</h2>
        </div>

    </div>
   <div class="row" id="step1">
      <!-- <div class="col-12">
           <h2 class="heading">Location</h2>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">

                </div>
                <div class="col-md-2" id="map_data">
                    <input class="field" id="street_number" disabled="true"/>
                    <input class="field" id="route" disabled="true"/>
                    <input class="field" id="locality" disabled="true"/>
                    <input class="field" id="administrative_area_level_1" disabled="true"/>
                    <input class="field" id="postal_code" disabled="true"/>
                    <input class="field" id="country" disabled="true"/>

                </div>



            </div>
       </div>-->
    </div>
        <div class="row" id="step2">

            <div class="col-12">
                <div class="BasicSearch__container">
                    <label>Location</label>
                    <div class="BasicSearch__searchBar">
                        <input value="1000 North 4th Street, Fairfield, IA, USA" required id="autocomplete" onFocus="geolocate()" type="search" value="" style="width: 70%" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" name="address" placeholder="e.g. 105 W Grimes Ave" class="SearchInputBox__autoCompleteInput gtm_homeSearchField BasicSearch__searchBox__1U0Ab ignore-react-onclickoutside" autocorrect="off">
                    </div>
                </div>

                <div id="rent" class="validation-box is-mandatory">
                    <label>Rent per month ($)</label>
                    <div class="currency_input">
                        <div>$</div>
                        <input required value="1000" type="number" min="1" maxlength="4" name="price" pattern="\d*" placeholder="0" data-prop="rent" class="input_field" autocomplete="off" value="">
                    </div>
                    <p class="error-msg">Please enter a rent amount in numeric values only without special characters.</p>
                </div>

                <div class="form_field custom-checkbox">
                    <input type="checkbox" id="utilsNotIncluded">
                    <label style="display: unset">Add utility costs to be paid on top of rent</label>
                </div>

                <div id="squareMeters" class="validation-box">
                    <label>Room square foot</label>
                    <input value="100" required type="number" name="area" pattern="\d*" class="input_field" autocomplete="off">
                    <p class="error-msg">Please enter a numeric value only without special characters</p>
                </div>

                <div id="dwellingCode" class="validation-box is-mandatory">
                    <label>Property type</label>

                    <div class="radio-container button-3">
                        <div>
                            <input type="radio" id="propertyType1" value="1" name="listType" checked>
                            <label for="propertyType1">Apartment</label>
                        </div>

                        <div>
                            <input type="radio" id="propertyType2" value="2" name="listType">
                            <label for="propertyType2">House</label>
                        </div>

                        <div>
                            <input type="radio" id="propertyType3" value="3" name="listType">
                            <label for="propertyType3">Studio</label>
                        </div>
                    </div>
                    <p class="error-msg">Please specify what type of property it is.</p>
                </div>
                <div id="numBedrooms" class="validation-box">
                    <label>Total number of bedrooms</label>
                    <div class="radio-container button-9 mobile-hide" data-field="numBed">
                        <div>
                            <input type="radio" id="numBedrooms1" name="numBed" data-prop="totalBedrooms" value="1" checked="checked">
                            <label for="numBedrooms1">1</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms2" name="numBed" data-prop="totalBedrooms" value="2">
                            <label for="numBedrooms2">2</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms3" name="numBed" data-prop="totalBedrooms" value="3">
                            <label for="numBedrooms3">3</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms4" name="numBed" data-prop="totalBedrooms" value="4">
                            <label for="numBedrooms4">4</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms5" name="numBed" data-prop="totalBedrooms" value="5">
                            <label for="numBedrooms5">5</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms6" name="numBedrooms" data-prop="totalBedrooms" value="6">
                            <label for="numBedrooms6">6</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms7" name="numBedrooms" data-prop="totalBedrooms" value="7">
                            <label for="numBedrooms7">7</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms8" name="numBedrooms" data-prop="totalBedrooms" value="8">
                            <label for="numBedrooms8">8</label>
                        </div>

                        <div>
                            <input type="radio" id="numBedrooms9" name="numBedrooms" data-prop="totalBedrooms" value="9">
                            <label for="numBedrooms9">9+</label>
                        </div>
                    </div>
                    <div>
                        <label>Total number of bathrooms</label>
                        <div class="radio-container button-9 mobile-hide" data-field="numBath">
                            <div>
                                <input type="radio" id="numBathRooms1" name="numBath" data-prop="totalBathrooms" value="1" checked="checked">
                                <label for="numBathRooms1">1</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms2" name="numBath" data-prop="totalBathrooms" value="2">
                                <label for="numBathRooms2">2</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms3" name="numBath" data-prop="totalBathrooms" value="3">
                                <label for="numBathRooms3">3</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms4" name="numBath" data-prop="totalBathrooms" value="4">
                                <label for="numBathRooms4">4</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms5" name="numBath" data-prop="totalBathrooms" value="5">
                                <label for="numBathRooms5">5</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms6" name="numBath" data-prop="totalBathrooms" value="6">
                                <label for="numBathRooms6">6</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms7" name="numBath" data-prop="totalBathrooms" value="7">
                                <label for="numBathRooms7">7</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms8" name="numBath" data-prop="totalBathrooms" value="8">
                                <label for="numBathRooms8">8</label>
                            </div>

                            <div>
                                <input type="radio" id="numBathRooms9" name="numBath" data-prop="totalBathrooms" value="9">
                                <label for="numBathRooms9">9+</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="amenityFurnished" class="validation-box is-mandatory">
                    <label>Furnished or Unfurnished</label>
                    <div class="radio-container button-2">
                        <div>
                            <input required type="radio" id="furnishedRoom1" checked name="status" data-prop="amenityFurnished" data-value="true">
                            <label for="furnishedRoom1">Furnished</label>
                        </div>

                        <div>
                            <input required type="radio" id="furnishedRoom2" name="status" data-prop="amenityFurnished" data-value="false">
                            <label for="furnishedRoom2">Unfurnished</label>
                        </div>
                    </div>
                    <p class="error-msg">Please select if the room is furnished or unfurnished</p>
                </div>
                <div id="minimumStay" class="validation-box">
                    <label>Minimum stay in months</label>
                    <select name="minimumLease" required class="custom-select half-width">
                        <option value="0">No minimum stay required</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>

                    </select>
                </div>

                <div id="availableFrom" class="validation-box">
                    <label>Available from</label>
                    <div class="desktop-hide">
                        <input required type="date" name="availableFrom" class="input_field" min="2019-09-11">
                    </div>
                </div>


                <div id="description" class="validation-box is-mandatory">
                    <label>Description</label>
                    <div class="textarea-wrapper">
                        <textarea required data-prop="description" class="details" name="description" rows="5" placeholder="Please enter a description to get the best possible response to your listing. Tell other users what you love about the property; what's great about the room, the location and any current neighbours.">
This 2 story 5 bedroom 2.5 bath home is has just been recently updated. Located on a quiet culda-sac. New kitchen, paint, carpeting. Large living room, formal dining room, large family room with decorative stone fireplace. New kitchen with all stainless appliances. Gas range with stainless hood. Hardwood floors in kitchen and family room. Indoor laundry room. All bedrooms are located upstairs and have hardwood flooring. Large landscaped backyard with pool. 2 car garage. ADDED BONUS + NEIGHBORHOOD CABANA CLUB POOL INCLUDED. Located a half a block around the corner. Weekly pool service and yard service included. Close to downtown Campbell and Willow Glen. Bagby Elementary School
Ida Price Middle School
Del Mar High School Please call our office to schedule a showing of this wonderful property.
                        </textarea>
                    </div>
                    <p class="error-msg">Please enter a description to get the best possible response to your listing. Tell other users what you love about the property; what's great about the room, the location and neighbours.</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 modal-footer d-flex justify-content-center">
                <button id="post_listing" class="btn btn-default">Post Your Listing</button>
                <div style="display: none" id="loading" class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="latitude" value="41.0177122" name="latitude" />
    <input type="hidden" id="longitude" value="-91.96728329999996" name="longitude" />
</form>

<footer>
    <% include ../partials/footer %>
</footer>

<script>

    $(document).ready(function(){

        //$("div#photoUpload").dropzone({ url: "/file/post" });

        // "myAwesomeDropzone" is the camelized version of the HTML element's ID
        Dropzone.options.myAwesomeDropzone = {
            dictDefaultMessage:"This is my file",
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            accept: function(file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                }
                else { done(); }
            }
        };
    })
</script>
<script>

    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), {types: ['geocode']});

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component','geometry','name','vicinity',]);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        var lat = place.geometry.location.lat(),
            lng = place.geometry.location.lng();


        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;

        console.log(lat);
        console.log(lng);

        console.log(place);

    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>


<script>

    (function() {
        'use strict';
        window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByName('new_listing');
// Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {

                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        const userData = $('form#new_listing').serialize();
                        createNewListing(userData);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function createNewListing(data) {
        $.ajax({
            type: "POST",
            url: "/listing",
            data: data
        })
            .done(function(data){
                console.log(data);
               // localStorage.setItem('user',JSON.stringify(data));
               // location.reload();
            })
            .fail(function(error,body,zing){
                showRegister();
                $('form#registerForm #register_error').show();
                if (error && error.responseJSON && error.responseJSON.message) {
                    $('#register_error').text(error.responseJSON.message);
                } else {
                    $('#register_error').text('Unknown error ! Please contact admin');
                }

            })
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7rGj1Izj6TiCYWSkyNMtSuq9sFrLJiyk&libraries=places&callback=initAutocomplete" async defer></script>

</body>
</html>
