<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- jQuery -->
    <script  type="text/javascript" src="/javascripts/dropzone.js"></script>
    <link rel="stylesheet" href="/stylesheets/dropzone.css" rel="stylesheet" >


</head>
<body>

<% include ../partials/header %>

<div class="container listing-detail">
    <div class="row">
        <div class="col-12">
            <h2>Manage Photos</h2>
            <div>Upload, edit or delete your listing photos</div>
            <h2 style="border-bottom: 1px #cdcdcd solid;">&nbsp;&nbsp;</h2>
        </div>

    </div>

    <div class="row" id="step3">
        <div class="col-12">
            <label>Photos</label>
            <form action="/photo/upload"
                  class="dropzone"
                  id="photo-upload">
                <input type="hidden" name="listingId" value="<%=listingId%>"/>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-12 modal-footer d-flex justify-content-center">
            <button id="btn_upload" class="btn btn-default">Submit Listing Photos</button>
            <div style="display: none" id="loading" class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>


</div>

<footer>
    <% include ../partials/footer %>
</footer>

<script>

    //$(document).ready(function(){

        //$("div#photoUpload").dropzone({ url: "/file/post" });

        // "myAwesomeDropzone" is the camelized version of the HTML element's ID
        /*Dropzone.options.myAwesomeDropzone = {
            dictDefaultMessage:"This is my file",
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            url:'/upload',
            accept: function(file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                }
                else { done(); }
            }
        };*/

        // Dropzone class:
      //  var myDropzone = new Dropzone("div#photoUpload", { url: "/file/post"});
       /* Dropzone.options.photoUpload = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            accept: function(file, done) {
                if (file.name == "justinbieber.jpg") {
                    done("Naha, you don't.");
                }
                else { done(); }
            }
        };*/

        Dropzone.options.photoUpload = {
            autoProcessQueue: false,
            maxFiles:10,
            headers: {'Authorization':getAccessToken()},
            acceptedFiles:'image/*',
            maxFilesize: 5,
            init: function (e) {

                var myDropzone = this;

                $('#btn_upload').on("click", function() {
                    myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                });

                // Event to send your custom data to your server
                myDropzone.on("sending", function(file, xhr, data) {

                });

                myDropzone.on("queuecomplete", function (file) {
                    window.location.replace('/listing/<%=listingId%>');
                })

            }
        };
    //})
</script>

</body>
</html>
