<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        section#search_box {
            background: url("https://99-content.cdn.prismic.io/99-content/7f4c0a0d94403361becba75858ef80a7d8a5173a_pto_desktop.jpg");
            background-size: cover;
            background-position: center;
        }
        .Home {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            padding: 10px 25px;
            margin-bottom: 50px;
            z-index: 3;
        }
        .Home__heading {
            color: #fff;
            text-shadow: 0 0px 3px rgba(0, 0, 0, .8);
            font-size: 75px;
            margin: 0;
            font-weight: bold;
            box-sizing: content-box;
        }
        .Home__sub_heading {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 45px;
        }
        .SearchInputBox__autoCompleteInput {
            border-radius: 4px;
            background-color: #fff;
            font-size: 16px;
            border: 1px solid rgba(0, 0, 0, .35);
            padding: 13px;
            width: 100%;
            font-weight: 500;
            outline: none;
            -webkit-appearance: none;
            color: #3e4246;
            font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            box-sizing: border-box;
            height: 100%;
            margin-right: 10px;
        }

        .BasicSearch__container {
            min-width: 450px;
            max-width: 890px;
            width: 100%;
            z-index: 1;
        }

        .BasicSearch__searchFieldsButton {
            font-size: 14px !important;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            width: 130px;
            min-width: 130px;
            height: 50px;
            cursor: pointer;
            background: #3893d9;
            outline: none;
            border: 0;
            padding: 15px;
            color: #fff;
            font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border-radius: 4px;
        }

        .Button__buttonInnerContainer > svg {
            margin-right: 10px;
        }


        .BasicSearch__search_fields_button_inner__BWZtf > svg {
            margin-right: 5px;
        }

        .BasicSearch__searchBar {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .Home__lists_header {
            font-size: 32px;
            font-weight: 600;
            color: #3e4246;
            margin: 5px 0 20px;
            text-align: center;
        }

        .listing-list-item-price{
            line-height: 1;
            font-size: 16px;
            font-weight: 600;
            color: #3e4246;
        }

        .listing-list-item-icon{
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-bottom: 4px;
            margin-left: 1px;
        }

    </style>
</head>
<body>


<% include ../partials/header %>


<main role="main">


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
